/coverage
/dist
.env
.eslintcache
/lib
/node_modules
/tmp

*.js
*.d.ts

log*
npm-debug.log*
*.swp
yarn-debug.log*
yarn-error.log*

!lint-staged.config.js
!log*.ts

# CDK asset staging directory
.cdk.staging
cdk.out
